.btn {
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  line-height: 160%;
  padding: 16px 52px;
  transition: background-color 0.3s, color 0.3s ease-in-out;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-size: remify(18px);

  &--arrow {
    color: $violet-dark-color;
    letter-spacing: remify(0.08px);
    padding: 16px 23px;
    border: 1px solid #9c69e2;
    font-size: remify(16px);

    &::after {
      content: url("../images/arrow-purple.svg");
      display: inline-block;
      width: 20px;
      height: 25px;
      margin-left: 20px;
      vertical-align: middle;
    }

    &:hover {
      background-color: $violet-color;
      color: #fff;

      &::after {
        content: url("../images/arrow-white.svg");
      }
    }
  }

  &--regular {
    color: $white-color;
    background-color: $violet-color;

    &:hover {
      background-color: $violet-middle-color;
    }
  }

  &--regular-pink {
    color: $white-color;
    background-color: $pink-color;

    &:hover {
      background-color: $pink-middle-color;
    }
  }
}
