.footer {
  &__container {
    margin-block: 120px;
    color: $violet-dark-color;

    @include mobile {
      margin-block-end: 50px;
    }
  }

  &__try {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      text-align: center;
    }
  }

  &__text-container {
    @include tablet {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__paragraph {
    font-size: remify(18px);
  }

  &__buttons {
    display: flex;
    gap: 30px;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__contacts-and-nav {
    display: flex;
    justify-content: space-between;
    margin-block: 100px;

    @include tablet {
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;

    @include tablet {
      justify-content: center;
    }
  }

  &__logo {
    width: 49px;
    height: 35px;
  }

  &__logo-name {
    font-size: remify(20px);
    font-weight: 600;
    line-height: 160%;
  }

  &__contacts {
    flex-basis: 42.73%;
  }

  &__nav {
    &:first-of-type {
      flex-basis: 21.36%;

      @include tablet {
        flex-basis: 100%;
      }
    }

    flex-basis: 20.51%;
  }

  &__socials {
    flex-basis: 15.38%;
  }

  &__contacts,
  &__nav,
  &__socials {
    @include tablet {
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__socials-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include tablet {
      justify-content: center;
    }
  }

  &__address {
    max-width: 268px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: remify(0.16px);
    margin-bottom: 10px;

    @include tablet {
      max-width: none;
    }
  }

  &__copyright {
    max-width: 275px;
    display: block;
    font-size: remify(12px);
    font-weight: 300;
    line-height: 180%;
    letter-spacing: remify(0.12px);

    @include tablet {
      text-align: center;
      margin-inline: auto;
    }
  }

  &__link {
    display: block;
    font-size: remify(16px);
    font-weight: 400;
    color: $violet-dark-color;
    letter-spacing: remify(0.16px);
    line-height: 180%;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  &__social-icon {
    --fill-color: #{$grey-light-color};
    --logo-color: #{$white-color};
    width: 50px;
    height: 50px;
  }

  &__social {
    &:hover .footer__social-icon {
      &--facebook {
        --stroke-color: #{$facebook-color};
        --logo-color: #{$facebook-color};
        --fill-color: #{$white-color};
      }

      &--twitter {
        --stroke-color: #{$twitter-color};
        --logo-color: #{$twitter-color};
        --fill-color: #{$white-color};
      }

      &--instagram {
        --stroke-color: #{$instagram-color};
        --logo-color: #{$instagram-color};
        --fill-color: #{$white-color};
      }
    }
  }
}

.nav {
  &__heading {
    margin-bottom: 40px;
    margin-top: 5px;
  }

  &__list {
    &--column {
      flex-direction: column;
      gap: 10px;
    }
  }
}
