$grey-color: #4b5d68;
$grey-light-color: #d2d2d7;
$violet-dark-color: #212353;
$violet-color: #9c69e2;
$violet-middle-color: #8a40ee;
$violet-light-color: #f6f0fd;
$pink-color: #f063b8;
$pink-middle-color: #eb4bab;
$pink-medium-color: #fde8f5;
$pink-light-color: #fef0f8;
$white-color: #fff;
$green-light-color: #f0faf9;
$blue-light-color: #eaf6fc;
$blue-medium-color: #ccddff;

$facebook-color: #3b5998;
$twitter-color: #00acee;
$instagram-color: #c13584;
